# Collection Types :
### 1. List
### 2. Tuple
### 3. Dictionary

- **list** is indexed, ordered, mutable, allows duplicate values.

In [5]:
sampleList = ["name",23,True,23,1400,400]
print(sampleList)
sampleList.append(34.3) # to add an elemnt into the list
sampleList.append("reaal")
print(sampleList)
sampleList.insert(3,"march")
print(sampleList)
sampleList.extend([21,"21Barghav","20Bharathi",34567]) # to insert multiple iterable values into the list
print(sampleList)

['name', 23, True, 23, 1400, 400]
['name', 23, True, 23, 1400, 400, 34.3, 'reaal']
['name', 23, True, 'march', 23, 1400, 400, 34.3, 'reaal']
['name', 23, True, 'march', 23, 1400, 400, 34.3, 'reaal', 21, '21Barghav', '20Bharathi', 34567]

In [9]:
# removing elements from the list --> pop(),remove)()
sampleList = ["name",23,True,23,1400,400]
del sampleList[-1]
print(sampleList)
r = sampleList.pop()
print(r)
sampleList.remove(23)
print(sampleList)

['name', 23, True, 23, 1400]
1400
['name', True, 23]

In [5]:
sampleList.reverse()
print(sampleList)
sampleList.reverse()
print(sampleList)

['name', 23, True, 23]
[23, True, 23, 'name']

In [6]:
sampleList.sort()
print(sampleList)

TypeError: '<' not supported between instances of 'str' and 'int'

In [17]:
list1 = [1,200,3,4200,247500]
print(list1.sort())
list1.sort()
print(list1)
list1.sort(reverse=True)
print(list1)

None
[1, 3, 200, 4200, 247500]
[247500, 4200, 200, 3, 1]

In [19]:
list2 = list1
list3 = list1.copy()
print(list1,list2,list3)
del list2[-1]
list3.remove(1)
list1.pop()
print(list1,list2,list3)

[247500, 4200, 200, 3, 1] [247500, 4200, 200, 3, 1] [247500, 4200, 200, 3, 1]
[247500, 4200, 200] [247500, 4200, 200] [247500, 4200, 200, 3]

## Accept three subject marks of the student and store values in list and return total marks of the student

In [36]:
sub = int(input(" Enter number of subjetc"))
sum = 0
for i in range(sub):
    sum += int(input())
print("sum = ",sum)

 Enter number of subjetc6
63
59
70
98
100
45
sum =  435

In [39]:
aList = [12,23,1,45,50,99,10]
print(max(aList))
aList.sort()
print(aList[-2])

99
50

- **Tuple** --> indexed, ordered, allows duplicate values, immutable

In [41]:
t1 = (23,45,33,67,34)
print(t1)
l1 = list(t1)
print(l1)
l1.append(900000000)
t1 = tuple(l1)
print(l1,t1)

(23, 45, 33, 67, 34)
[23, 45, 33, 67, 34]
[23, 45, 33, 67, 34, 900000000] (23, 45, 33, 67, 34, 900000000)

- **Dictionary** 
- *Syntax* dict1 = {key1:value1,key2:value,....}
- **Rules for key** :
- 1. Keys should be ***unique***
- 2. keys should be ***immutable***(number, string, tuple)

In [57]:
dict1 = {"name": "vijay","roll no":1530,"course":"cse","name":"Bharathi"}
dict1["ph no"] = 963850741
print(dict1)

{'name': 'Bharathi', 'roll no': 1530, 'course': 'cse', 'ph no': 963850741}

In [58]:
dict1["name"]

'Bharathi'

In [59]:
print(dict1)

{'name': 'Bharathi', 'roll no': 1530, 'course': 'cse', 'ph no': 963850741}

In [60]:
del dict1["name"]
print(dict1)

{'roll no': 1530, 'course': 'cse', 'ph no': 963850741}